In [17]:
from mysql.connector import connect

In [18]:
# tao connection
# tao cursor de thuc hien cau truy van
# doc va xu ly ket qua tra ve
# dong cursor, dong connection

In [19]:
# tao connection
# chuan bi thong tin ket noi
server ='phpmyadmin.laptrinhphp.net'
db = 'gd_salesdb'
username = 'hv'
pwd = '123456'
conn = connect(host=server, database=db, user=username, password=pwd)

In [20]:
# tao cursor de thuc hien cau truy van
sql = '''
SELECT o.`ProductId`, SUM(o.`Quantity`) AS TongSL, p.ProductName FROM `orderitems` o
JOIN products p ON o.ProductId = p.Id
GROUP BY o.`ProductId`, p.ProductName ORDER BY TongSL DESC LIMIT 10
'''
cur = conn.cursor()
cur.execute(sql)

In [21]:
# doc va xu ly ket qua tra ve
for row in cur: # fetch one
    print(row)

(60, Decimal('1577'), 'Camembert Pierrot')
(59, Decimal('1496'), 'Raclette Courdavault')
(31, Decimal('1397'), 'Gorgonzola Telino')
(56, Decimal('1263'), 'Gnocchi di nonna Alice')
(16, Decimal('1158'), 'Pavlova')
(75, Decimal('1155'), 'Rhönbräu Klosterbier')
(24, Decimal('1125'), 'Guaraná Fantástica')
(40, Decimal('1103'), 'Boston Crab Meat')
(62, Decimal('1083'), 'Tarte au sucre')
(2, Decimal('1057'), 'Chang')

In [22]:
# dong cursor, dong connection
cur.close()
conn.close()